.container {
    
    font-family: 'Courier New', Courier, monospace;
    border: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 350px;
    height: 470px;
    position: relative;
    margin-left: 15px;
    
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
}
.buttonContainer button {
    margin-top: 3px;
    margin-right: 3px;
}
.textContainer {
    position: absolute;
    display: inline-block;
    justify-content: space-evenly;
    margin-top: 0px;
}
.textEvery1{
    position: relative;
    padding: 5px;
    max-width: 150px;
    width: 150px;
    right: 0px;
}
.textEvery2{
    position: relative;
    padding: 5px;
    max-width: 150px;
    width: 150px;
    right: 0px;
}
a{
    font-family: 'Courier New', Courier, monospace;
    
}